body, html {
  height: 100%;
  width: inherit;
}

.site-header {
  padding-left: 2%;
}

.item-result {
  max-width: 30%;
  max-height: 51%;
  min-height: 51%;
  border-radius: 1%;
  border: 3px solid #D20000;
  /*border: 1px solid #EEE;*/
  /*border-color:  rgba(210, 0, 0, 0.9);*/
  background: white;
  margin-left: 2%;
  margin-bottom: 3%;
  text-align: center;
  display: inline-block;
  float: left;

}

.item-title {
  font-size: 105%;
  text-align: center;
  font-weight: bold;
}

.item-image {
  max-height: 200px;
  text-align: center;
  margin: 0px auto;
}

.item-blurb {
  max-width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.item-author {
  text-align: center;
  font-weight: bold;
}