<div class="page-header">
  <h1 class="site-header">
    Fashion Planet
    <small>Where You'll discover All The Hottest New Looks!</small>
  </h1>
</div>


<div class="all-items row">
  {{#each model as |item|}}
    {{item-tile
      item=item
    }}
  {{/each}}
</div>

{{infinity-loader
  class='row'
  infinityModel=model
  destroyOnInfinity=true
  loadingText="Loading..."
}}