<div class="item-title">
  {{item.title}}
</div>
<img
  class="item-image thumbnail img-responsive"
  alt="Responsive image"
  src={{item.thumbnail_url}}
>

<div class="item-blurb">
  {{truncatedBlurb}}
  <a
    class="details-url"
    href={{item.details_url}}
    target="_blank">
    Read More
  </a>
</div>

<div class="item-author">
  By {{item.author}}
</div>